@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    overflow-x: hidden;
}

.homepage_bg {
    background: url("../src/assets/Images/bghome.svg");
}

/* https://10015.io/tools/css-loader-generator */
.spinner {
  width: 28px;
  height: 28px;
  border: 3px solid #7d7d7d;
  border-top: 3px solid #131320; /* Accent color */
  border-radius: 50%;
  animation: spin 1s linear infinite;
  box-shadow: 0 2px 8px rgba(99, 102, 241, 0.15);
  margin: auto;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

